<?php
$collection = $block->getPostCollection();
$title = $this->getOptions('title');
$description = $this->getOptions('description');
?>
<div class="sow-blog-lastest-news">
            <div class="sow-owlcarousel">
                <?php if ($title): ?>
                    <div class="sow-title">
                        <h3><?php /* @escapeNotVerified */
                            echo $title; ?></h3>
                        <?php if ($description != ''): ?>
                            <p><?php /* @escapeNotVerified */
                                echo $description; ?></p>
                        <?php endif ?>
                    </div>
                <?php endif ?>
                <div class="sow-content">
                    <div class="sow-items owl-carousel" data-slider='<?php echo $block->getDataSlider() ?>'>
                        <?php foreach ($collection as $post): ?>
                            <div class="sow-item">
                                <div class="post-content">
                                    <div class="post-image">
                                        <img src="<?php echo $post->getThumbnailUrl(); ?>" alt="<?php echo $post->getTitle() ?>">
                                    </div>
                                    <div class="post-detailt">
                                        <div class="comment-link">
                                            <a href="<?php echo $post->getPostUrlWithNoCategory(); ?>#comment"><?php echo $post->getCommentCount(); ?><i class="fa fa-comments-o"></i></a>
                                        </div>
                                        <div class="title">
                                            <a href="<?php echo $post->getPostUrlWithNoCategory(); ?>" title="<?php echo $post->getTitle(); ?>"><?php echo $post->getTitle() ?></a>
                                        </div>
                                        <div class="created_at">
                                            <?php if ($post->getUpdatedByUser()): ?>
                                                <?php echo __('%1', $block->formatDate($post->getCreatedAt(), \IntlDateFormatter::MEDIUM, false)); ?>&nbsp;<?php echo __('by: %1', $post->getUpdatedByUser()); ?>
                                            <?php else: ?>
                                                <?php echo __('%1', $block->formatDate($post->getCreatedAt(), \IntlDateFormatter::MEDIUM, false)); ?>&nbsp;<?php echo __('by %1', $post->getUser()); ?>
                                            <?php endif; ?>
                                        </div>
                                        <a href="<?php echo $post->getPostUrlWithNoCategory(); ?>" class="readmore" title="<?php echo $post->getTitle(); ?>"><?php echo __('Read More'); ?></a>
                                    </div>
                                </div>
                            </div>
                        <?php endforeach;?>
                    </div>
                </div>
    </div>
</div>