/* primary secondary tertiary prevention */
/* Color */
@primary_color: #fed051;
@secondary_color: #000000;

@placeholder_color: #777777;
@placeholder_color_focus: #777777;

@border_color: #dddddd;
@border_color_focus: #fed051;

@text_color: #646464;

@link_color: #000000;
@link_color_hover: #fed051;

@title_color: #000000;

/* Width */
@page_width: 1170px;
@col_space:15px;
@row_space:90px;

/* Font family */
@font_button: 'Poppins', sans-serif;
@font_title: 'Poppins', sans-serif;
@font_body: 'Open Sans', sans-serif;


/* Mix Style */
.font_title() {
  font-family: @font_title;
  font-weight: 600;
  color: @title_color;
}

.link_color() {
  color: @link_color;
  .transition_default();
  &:hover {
    color: @link_color_hover;
    text-decoration: none;
  }
  &:visited {
    color: @link_color;
    &:hover {
      color: @link_color_hover;
      text-decoration: none;
    }
  }
}

.transition_default() {
  transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
}
.transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
.button_style_1(
  @border-radius:0;
  @box-shadow: none;
) {
  .transition_default();
  height: 36px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background: @secondary_color;
  -webkit-border-radius: @border-radius;
  -moz-border-radius: @border-radius;
  border-radius: @border-radius;
  border: 0;
  line-height: 36px;
  padding: 0 30px;
  letter-spacing: 0.5px;
  text-decoration: none;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
  box-shadow: @box-shadow;
  display: inline-block;
  a {
    color: #fff;
  }
  &:hover, &:active, &:focus {

    background: @primary_color;
    border: 0;
    -webkit-box-shadow: @box-shadow;
    -moz-box-shadow: @box-shadow;
    box-shadow: @box-shadow;
    a {
      color: #fff;
    }
  }
}

.button_style_2(
  @border-radius:0;
  @box-shadow: none;
) {
  .transition_default();
  height: 36px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background: @primary_color;
  -webkit-border-radius: @border-radius;
  -moz-border-radius: @border-radius;
  border-radius: @border-radius;
  border: 0;
  line-height: 36px;
  padding: 0 30px;
  letter-spacing: 0.5px;
  text-decoration: none;
  -webkit-box-shadow: @box-shadow;
  -moz-box-shadow: @box-shadow;
  box-shadow: @box-shadow;
  display: inline-block;
  a {
    color: #fff;
  }
  &:hover {
    background: @secondary_color;
    border: 0;
    -webkit-box-shadow: @box-shadow;
    -moz-box-shadow: @box-shadow;
    box-shadow: @box-shadow;
    a {
      color: #fff;
    }
  }
}