.sow-fullwidth{
  margin:0 -100%;
  .sow-fw-container{
    max-width: 1920px;
    margin:0 auto;
    width:100vw;
  }
}
.sow-container {
  max-width: @page_width;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
}
.sow-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -@col_space;
  margin-left: -@col_space;
  &.no-padding{
    margin-right: 0;
    margin-left: 0;
    .sow-col-6{
      padding-left: 0;
      padding-right: 0;
    }
    .sow-col-4{
      padding-left: 0;
      padding-right: 0;
    }
    .sow-col-3{
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.sow-col-6{
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: @col_space;
  padding-right: @col_space;
  box-sizing: border-box;
}
.sow-col-4{
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding-left: @col_space;
  padding-right: @col_space;
  box-sizing: border-box;
}
.sow-col-3{
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: @col_space;
  padding-right: @col_space;
  box-sizing: border-box;
}
.sow-block{
  margin-bottom:@row_space;
}
.page-wrapper{
  overflow: hidden;
}


.navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main{
  max-width: @page_width;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: @font_body;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @text_color;
  /* ================= Form ====================== */
  input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {

    border: 1px solid @border_color;
    color: @placeholder_color;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    .transition_default();
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    background: #fff;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: @placeholder_color;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: @placeholder_color;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: @placeholder_color;
    }
    &::-moz-placeholder {
      /* Firefox 18- */
      color: @placeholder_color;
    }
    &:focus {
      color: @placeholder_color_focus;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border: 1px solid @border_color_focus;
    }
    &.mage-error {
      border: 1px solid @primary_color;
    }
  }

  /* TEXT */
  a {
    color: @link_color;
    .transition_default();
    &:hover {
      color: @link_color_hover;
      text-decoration: none;
    }
    &:visited {
      color: @link_color;
      &:hover {
        color: @link_color_hover;
        text-decoration: none;
      }
    }
  }
  h1, h2, h3, h4, h5 {
    .font_title();
  }
  ul > li {
    margin-bottom: 10px;
    margin-top: 0;
  }
  ol > li {
    margin-bottom: 10px;
    margin-top: 0;
  }
  /* Table */
  dt {
    margin: 0;
    .font_title();
  }
  dd {
    margin: 0;
  }
  dl {
    margin: 0;
  }
  b, strong {
    .font_title();
  }
}
/* Loading */

/* Button */
.action.primary {
  .button_style_1();
}

.order-review-form .action.primary, .bundle-actions .action.primary.customize, .bundle-options-container .block-bundle-summary .box-tocart .action.primary, .box-tocart .action.tocart, .cart-summary .checkout-methods-items .action.primary.checkout, .block-minicart .block-content > .actions > .primary .action.primary, .methods-shipping .actions-toolbar .action.primary, .block-authentication .action.action-register, .block-authentication .action.action-login, .checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary, .form-address-edit .actions-toolbar .action.primary, .box-tocart .action.instant-purchase, .multicheckout .action.primary {
  .button_style_2();
}
button:not(.primary){
  .button_style_2();
  height: 36px;
  line-height: 36px;
  padding:0 10px;
  font-size:12px;
}
.actions .secondary .action.viewcart {
  .button_style_2();
  width: 100%;
  display: block;
  box-sizing: border-box;
}
