.footer-middle{
  .footer-block{
    padding:0 10px;
    float: left;
    box-sizing: border-box;
    width: 33.33%;
  }
}
.footer-type{
	&.type-1{
	    background: #31302b;
	    color: #adadad;
	    .footer-middle{
	    	margin-bottom: 42px;
	        padding-top: 77px;
		  	.footer-block{
		    	padding:0 15px;
		  	}
		}
	    a{
	    	color: #adadad;
	    	&:hover{
	    		color: #fff;
	    	}
	    }
    	h3{
    		color: #fff;
    		font-size: 18px;
    		margin-bottom: 21px;
    	    margin-top: 0;
    	}	    
	    .footer-block{
	    	ul{
	    		list-style: none;
	    		margin-bottom: 0;
	    		li span{
	    			color: #fff;
	    		    padding-right: 6px;
	    		}
	    	}
	    	.block-newsletter{
	    		width: 100%;
	    		.title{
	    		    display: block;
	    		    margin-bottom: 20px;	
	    		    strong{
					    font-size: 18px;
					    color: #fff;
					    font-weight: 600;
					    display: block;
					}
	    		} 
	    		.form.subscribe {
				    display: block;
				    width: 100%;
				    position: relative;
				}
				label{display:none;}
				input[type="email"]{
					height: 50px;
					margin-bottom: 20px;
					background: rgba(0,0,0,0.28);
					border: 1px solid #3c3b36;
					line-height: 50px;		
					&:focus{
						border: 1px solid rgba(255, 255, 255, 0.3);
					}	
				}
				.action.subscribe {
				    position: absolute;
				    right: 0;
				    background: transparent;
				    top: 0;
				    padding: 0;
				    width: 50px;
				    color: #888;
				    height: 50px;
				    &:before{
					    width: 1px;
					    height: 40px;
					    background: #565656;
					    display: block;
					    content: "";
					    position: absolute;
					    top: 5px;				    	
				    }
				    &:hover{
				        color: @primary_color;
				    }
				}
				.field .control{
					position: relative;
					&:before{
						display: none;					
					}
				}
	    	} 
	    }
	}
}
