.footer-bottom{
  .footer-block{
    padding:0 10px;
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
}
.footer-type{
	&.type-1{
		.footer-bottom{
		  	.footer-block{
		    	padding:0 15px;
		  	}
		  	.sow-container:before {
			    content: "";
			    width: 100%;
			    background: #979797;
			    height: 1px;
			    display: block;
			}
			.sow-row{
			  	display: flex;
			  	align-items: center;
			  	justify-content: center;	
			  	height: 100px;			
			}
			.sow-social{
				text-align: right;
				h3{
				    font-size: 14px;
				    font-weight: 500;
				    color: #adadad;
				    display: none;					
				}
				ul{
					display: inline-block;	
					margin-bottom: 0;			
					li{
						display: inline-block;
						margin-bottom: 0;
						a{
						    height: 28px;
						    width: 28px;
						    border: 1px solid rgba(255,255,255,0.3);
						    display: block;
						    text-align: center;
						    line-height: 30px;
						    margin-left: 5px;
						    &:hover{
						    	color: #fff;
						    	border-color: @primary_color;
						    	border-radius: 50%;
						    	background: @primary_color;
						    }	
						    i{
						    	margin-left: 4px;
    							line-height: 30px;
						    }				
						}
					}
				}
			}
		}		
	}
}
