/* Scroll Top */
#to_top {
  position: fixed;
  bottom: 20px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #c2c2c2;
}
.before-body-end{
  position: fixed;
  bottom: 0;
  right: 0;
}

/**/

#ajax_alert{
  position: fixed;
  top:20%;
  right:40px;
  display: none;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  box-shadow: 0 1px 12px rgba(0,0,0,.3);
  padding: 5px;
  background: #fff;
  .ajax_processing{
    position: relative;
    background: #fff;
    z-index: 2;
    &:before{
      content: '';
      display: table;
    }
    &:after{
      content: '';
      display: table;
      clear: both;
    }
    .ajax-icon{
      float: left;
    }
    .ajax_message{
      float: left;
      height: 25px;
      line-height: 25px;
      padding-left:10px;
      padding-right: 20px;
    }
  }
  .action.close{
    position: absolute;
    top: 8px;
    right: 9px;
    width: 10px;
    z-index: 1;
    height: 10px;
    font-size: 12px;
    color: #000;
    line-height: 10px;
  }
  &.processing{
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;

  }
  &.loaded.processing{
    border-top:3px solid @primary_color;
    padding:10px;
    .ajax_processing{
      display: none;
    }
    .ajax_res{
      .res_main{
        position: relative;
        .product-info{
          min-width: 270px;
          .product-image{
            float: left;
            margin-right: 10px;
          }
          .content{
            font-size: 13px;
            line-height: 22px;
            .name{
              padding-right:10px;
              line-height: 1;
              margin-bottom: 8px;
            }
            .price{
              strong{
                color: @primary_color;
              }
            }
            .message{
              color: #006400;
              i{
                margin-right: 3px;
              }
            }
          }

        }
        .actions{
          display: inline-block;
          width: 100%;
          float: left;
          margin-top: 3px;
          &:before{
            content:'';
            display: table;
          }
          &:after{
            content:'';
            display: table;
            clear: both;
          }
          >div{
            width: 50%;
            padding-right: 5px;
            box-sizing: border-box;
            float: left;
            .view-cart{
              .button_style_2();
              height: 25px;
              padding:0 10px;
              line-height: 25px;
              font-size: 12px;
              width: 100%;
              box-sizing: border-box;
              text-align: center;
            }
            .checkout{
              .button_style_2();
              height: 25px;
              padding:0 10px;
              line-height: 25px;
              font-size: 12px;
              width: 100%;
              box-sizing: border-box;
              text-align: center;
            }
            &+div{
              padding-right: 0;
              padding-left:5px;
            }
          }
        }
      }
    }
  }

}
/* loading */
#circularG{
  position:relative;
  width:25px;
  height:25px;
  margin: auto;
}

.circularG{
  position:absolute;
  background-color:rgb(0,0,0);
  width:6px;
  height:6px;
  border-radius:4px;
  -o-border-radius:4px;
  -ms-border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  animation-name:bounce_circularG;
  -o-animation-name:bounce_circularG;
  -ms-animation-name:bounce_circularG;
  -webkit-animation-name:bounce_circularG;
  -moz-animation-name:bounce_circularG;
  animation-duration:1.1s;
  -o-animation-duration:1.1s;
  -ms-animation-duration:1.1s;
  -webkit-animation-duration:1.1s;
  -moz-animation-duration:1.1s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
}

#circularG_1{
  left:0;
  top:10px;
  animation-delay:0.41s;
  -o-animation-delay:0.41s;
  -ms-animation-delay:0.41s;
  -webkit-animation-delay:0.41s;
  -moz-animation-delay:0.41s;
}

#circularG_2{
  left:3px;
  top:3px;
  animation-delay:0.55s;
  -o-animation-delay:0.55s;
  -ms-animation-delay:0.55s;
  -webkit-animation-delay:0.55s;
  -moz-animation-delay:0.55s;
}

#circularG_3{
  top:0;
  left:10px;
  animation-delay:0.69s;
  -o-animation-delay:0.69s;
  -ms-animation-delay:0.69s;
  -webkit-animation-delay:0.69s;
  -moz-animation-delay:0.69s;
}

#circularG_4{
  right:3px;
  top:3px;
  animation-delay:0.83s;
  -o-animation-delay:0.83s;
  -ms-animation-delay:0.83s;
  -webkit-animation-delay:0.83s;
  -moz-animation-delay:0.83s;
}

#circularG_5{
  right:0;
  top:10px;
  animation-delay:0.97s;
  -o-animation-delay:0.97s;
  -ms-animation-delay:0.97s;
  -webkit-animation-delay:0.97s;
  -moz-animation-delay:0.97s;
}

#circularG_6{
  right:3px;
  bottom:3px;
  animation-delay:1.1s;
  -o-animation-delay:1.1s;
  -ms-animation-delay:1.1s;
  -webkit-animation-delay:1.1s;
  -moz-animation-delay:1.1s;
}

#circularG_7{
  left:10px;
  bottom:0;
  animation-delay:1.24s;
  -o-animation-delay:1.24s;
  -ms-animation-delay:1.24s;
  -webkit-animation-delay:1.24s;
  -moz-animation-delay:1.24s;
}

#circularG_8{
  left:3px;
  bottom:3px;
  animation-delay:1.38s;
  -o-animation-delay:1.38s;
  -ms-animation-delay:1.38s;
  -webkit-animation-delay:1.38s;
  -moz-animation-delay:1.38s;
}



@keyframes bounce_circularG{
  0%{
    transform:scale(1);
  }

  100%{
    transform:scale(.3);
  }
}

@-o-keyframes bounce_circularG{
  0%{
    -o-transform:scale(1);
  }

  100%{
    -o-transform:scale(.3);
  }
}

@-ms-keyframes bounce_circularG{
  0%{
    -ms-transform:scale(1);
  }

  100%{
    -ms-transform:scale(.3);
  }
}

@-webkit-keyframes bounce_circularG{
  0%{
    -webkit-transform:scale(1);
  }

  100%{
    -webkit-transform:scale(.3);
  }
}

@-moz-keyframes bounce_circularG{
  0%{
    -moz-transform:scale(1);
  }

  100%{
    -moz-transform:scale(.3);
  }
}
/* Animation fadeInRight */
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
