/* Footer Middle */

.footer-type{
	&.type-1{
      .footer-top{
        background: #42423f;
      }
		h4{
			font-size: 14px;
			font-weight: 500;
			color: #fff;
		}
		.footer-top-content{
          	display: none;
    		width: 100%;
    		padding: 78px 15px 40px;
    		ul{
    			list-style: none;
    			> li:last-child{
    				margin-bottom: 0;
    			}
    		}
    		@media (min-width: 768px){
	    		> .customer_care{
	    			float: left;
	    			width: calc(100% / 6);
	    		} 
	    		> .categories{
	    			float: left;
	    			width: calc(100% * 5 / 6);
	    			.footer-block{
	    				float: left;
	    				width: calc(100% / 5);
	    			}
	    		}  	    		   			
    		}
    		> .categories{
    			> h3{
				    border-bottom: 1px solid #979797;
				    padding-bottom: 20px;    				
    			}
    		}
		}
		.footer-quick-links {
		    width: 40px;
		    height: 40px;
		    background: #31302b;
		    color: #fff;
          position: relative;
          z-index: 1;
		    display: block;
		    border: 1px solid #979797;
		    text-align: center;
            margin-left: 15px;
		    line-height: 40px;
		    margin-top: -20px;
          margin-bottom: -20px;
		    &.active{
              background: @primary_color;
              border: 1px solid @primary_color;
		    	> i:before{
		    		content: "\f078";
		    	}
              & + .footer-top-content{

              }
		    }
          &:hover{
            background: @primary_color;
            border: 1px solid @primary_color;
          }
		}		
		.footer-top{
			.active{
				.footer-top-content{

				}
			}
		}		
	}
}