.sow-panel{
  text-align: right;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 10px;
  position: fixed;
  right: 0;
  width: 200px;
  top: 20%;
  padding:0 20px;
  text-align: left;
  z-index: 9999;
  box-sizing: border-box;
  background: #fff;
  margin-right: -205px;
  -webkit-transition: margin-right 0.7s ease-out;
  -moz-transition: margin-right 0.7s ease-out;
  -o-transition: margin-right 0.7s ease-out;
  transition: margin-right 0.7s ease-out;
  .action.show{
    position: absolute;
    top: 0;
    right: 100%;
    width: 37px;
    padding-right: 3px;
    height: 35px;
    font-size: 15px;
    line-height: 35px;
    background: #fff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 10px;
    &:before{
      content: '';
      width: 10px;
      height: 100%;
      left:~"-webkit-calc(100% - 1px)";
      left:~"expression(100% - 1px)";
      left:~"-moz-calc(100% - 1px)";
      left:~"-o-calc(100% - 1px)";
      left:~"calc(100% - 1px)";
      top:0;
      background: #fff;
      position: absolute;
    }
  }

  div.title{
    display: inline-block;
    float: left;
    a{
      display: inline-block;
      height: 35px;
      line-height: 35px;
      padding-right: 16px;
    }
  }
  div[aria-expanded="true"] {
    a{
      color: @link_color_hover;
    }
  }
  .item-content{
    float: right;
    width: 100%;
    margin-left: -100%;
    margin-top: 35px;
    border-top: 1px solid @border_color;
    padding-top: 10px;
    padding-bottom:10px;
    margin-bottom: 35px;
    min-height: 94px;
    border-bottom: 1px solid @border_color;
    ul{
      margin-bottom: 0;
      li{
        margin-bottom: 0;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    &:not(.first){
      display: none;
    }
  }
  &.active{
    margin-right: 0;

    &:before{
      border-left:1px solid @border_color;

    }
    .action.show{
      width: 35px;
      padding-right: 0;
      color: @link_color_hover;
      i{
        &:before{
          content: '\f101';
        }
      }
    }
  }
}
