.header-content{
  border-bottom: 6px solid @primary_color;
  .header-logo{
    min-height: 84px;
    float: left;
    position: relative;
    z-index: 99;
    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      min-height: inherit;
      width: 0;
    }
    .logo{
      vertical-align: middle;
      margin: 0;
      display: inline-block;
      max-width: 100%;
      float: none;
    }
  }
    .sections.nav-sections{
        text-align: center;
    }
}