#sow-search{
  float: right;
  position: relative;
  z-index: 99;
  padding-top: 15px;
  .block-search-top{
    height: 69px;
    a{
      width: 45px;
      height: 45px;
      display: inline-block;
      text-align: center;
      line-height: 45px;
    }
  }
  .block-content{
    top: auto;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    background: #fff none repeat scroll 0 0;
    display: block;
    position: absolute;
    left: auto;
    right: 0;
    z-index: 100;
    border-top: 3px solid @primary_color;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    padding: 20px 20px 15px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.35);
    .transition_default();
    width: 320px;
    .minisearch{
      position: relative;
      .action.search{
        .transition_default();
        position: absolute;
        top: 0;
        right: 0;
        background: #000;
        color: #fff;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        height: 36px;
        line-height: 36px;
        padding: 0 15px;
        &:disabled{
          opacity: 0;
          visibility: hidden;
        }
        &:hover{
          background: @primary_color;
        }
      }
    }
    .nested{
      .action.advanced{
        color: @link_color;
        text-decoration: none;
        font-size: 13px;
        &:hover{
          text-decoration:underline;
          color: @link_color_hover;
        }
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: -9px;
      left: auto;
      right: 14px;
      width: 0;
      height: 0;
      margin: auto;
      border-bottom: 9px solid @primary_color;
      border-left: 0 solid transparent;
      border-right: 0 solid transparent;
      .transition_default();
    }
  }
  &:hover{
    .block-content{
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      opacity: 1;
      visibility: visible;
      &:before{
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
      }
    }
    .block-search-top{
      a{
        color: @link_color_hover;
      }
    }
  }

}