#header-minicart {
  float: right;
  position: relative;
  z-index: 99;
  padding-top: 15px;
  padding-left: 5px;
  .minicart-wrapper {
    margin: 0;
    float: none;
    height: 69px;
    .action.showcart {
      position: relative;
      height: 45px;
      line-height: 45px;
      .transition_default();
      color: @link_color;
      .sow-counter.qty {
        float: left;
        float: left;
        background: none;
        font-weight: bold;
        margin: 0;
        padding: 0;
        line-height: 45px;
        height: 45px;
        padding-right: 3px;
        &.empty {
          display: block;
        }
      }
      i.fa-shopping-basket {
        font-size: 18px;
      }
      .counter-number {
        text-shadow: none;
        font-weight: normal;
      }
      &:before {
        display: none;
      }
    }
    .block-minicart {
      top: 100%;
      opacity: 0;
      visibility: hidden;
      text-align: left;
      background: #fff none repeat scroll 0 0;
      display: block;
      position: absolute;
      left: auto;
      right: 0;
      z-index: 100;
      border: 0;
      border-top: 3px solid @primary_color;
      transform: translateY(20px);
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      padding: 13px 20px 0;
      box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.35);
      .transition_default();
      margin: 0;
      width: 390px;
      &:before {
        content: '';
        position: absolute;
        top: -16px;
        left: auto;
        right: 14px;
        width: 0;
        height: 0;
        margin: auto;
        border-bottom: 9px solid @primary_color;
        border-left: 0 solid transparent;
        border-right: 0 solid transparent;
        .transition_default();
      }
      &:after {
        display: none;
      }
      .items-total {
        margin: 0;
        .count {
          .font_title();
        }
      }
      .subtotal {
        margin: 0;
      }
      .amount {
        .price-wrapper {
          &:first-child {
            .price {
              .font_title();
              font-size: 14px;
              color: @primary_color;
            }
          }
        }
      }
      .block-content {
        & > .actions {
          margin-top: 13px;
          margin-bottom: 20px;
          & > .primary {
            margin: 0;
            padding: 0;
          }
        }
        .minicart-items-wrapper {
          border-top: 1px solid @border_color;
          border-bottom: 1px solid @border_color;
          border-left: 0;
          border-right: 0;
          margin: 0 -20px 20px;
          padding: 20px 20px 0;
          .minicart-items {
            .item-qty{
              padding:5px;
              width: 50px;
            }
            .product-item {
              padding: 20px 0;
              border-top: 1px solid @border_color;
              &:first-child {
                padding-top: 0;
                border-top: 0;
              }
              .product-item-photo {
                .product-image-container {
                  border: 1px solid @border_color;
                }
              }
              .product-item-details {
                padding-left: 98px;
                .product-item-name {
                  margin-top: -6px;
                  margin-bottom: 0;
                  a {
                    .link_color();
                    .font_title();
                  }
                }
                .price {
                  .font_title();
                  color: @primary_color;
                }
              }
              .product {
                .toggle {
                  padding: 0 40px 0 0;
                }
                .actions {
                  margin: -32px 0 0;
                  .action {
                    &.edit {
                      &:before {
                        color: @link_color;
                      }
                    }
                    &.delete {
                      &:before {
                        color: @link_color;
                      }
                    }

                    &:hover {
                      &.delete {
                        &:before {
                          color: @link_color_hover;
                        }
                      }
                      &.edit {
                        &:before {
                          color: @link_color_hover;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .subtitle.empty {
        padding: 20px 0;
        font-weight: 500;
      }
    }
    /* End ".block-minicart"  */
  }
  &:hover {
    .minicart-wrapper {
      .action.showcart {
        color: @link_color_hover;
      }
      .block-minicart {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        opacity: 1;
        visibility: visible;
        &:before {
          border-left: 9px solid transparent;
          border-right: 9px solid transparent;
        }
      }
    }

  }
}