#megamenu {
  >ul {
    position: relative;
    padding:0;
    >li {
      display: inline-block;
      margin: 0;
      >a {
        padding: 0 20px;
        line-height: 84px;
        height: 84px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;        
      }
    }
  }
  ul {
    padding: 0;
    li {
      a {
        position: relative;
        .label {
          position: absolute;
          bottom: auto;
          right: 0;
          margin-bottom: 0;
          background: #fed051;
          height: 20px;
          line-height: 20px;
          padding: 0 7px;
          border-radius: 2px;
          font-size: 11px;
          top: 10px;
          text-transform: capitalize;
          font-weight: normal;
          color: #fff;
          letter-spacing: 0;
        }
      }
    }
  }
  .menu-item-relative {
    position: relative;
  }
  .from-left {
    >.sub-dropdown {
      left: 0;
    }
  }
  .from-right {
    >.sub-dropdown {
      right: 0;
    }
  }
  .from-right.level-3 {
    >.sub-dropdown {
      left:~"-webkit-calc(100% + 30px)";
      left:~"expression(100% + 30px)";
      left:~"-moz-calc(100% + 30px)";
      left:~"-o-calc(100% + 30px)";
      left:~"calc(100% + 30px)";
      right: auto;
      top: 0;
      &:before {
        content: '';
        width: 30px;
        height: 100%;
        right: 100%;
        position: absolute;
        top: 0;
        cursor: pointer;
      }
    }
  }
  .from-left.level-3 {
    >.sub-dropdown {
      right:~"-webkit-calc(100% + 30px)";
      right:~"expression(100% + 30px)";
      right:~"-moz-calc(100% + 30px)";
      right:~"-o-calc(100% + 30px)";
      right:~"calc(100% + 30px)";
      left: auto;
      top: 0;
      &:before {
        content: '';
        width: 30px;
        height: 100%;
        left: 100%;
        position: absolute;
        top: 0;
        cursor: pointer;
      }
    }
  }
  .relative-left {
    >.sub-dropdown {
      left: 0;
    }
  }
  .relative-right {
    >.sub-dropdown {
      right: 0;
    }
  }
  .sub-dropdown {
    top: auto;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    background: #fff none repeat scroll 0 0;
    display: block;
    position: absolute;
    left: auto;
    right: auto;
    z-index: 100;
    border-top: 2px solid #006bb4;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    padding: 15px 30px 15px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.35);
    .transition_default();
    width: 100%;
  }
  li {
    &:hover {
      >.sub-dropdown {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .main-content {
    display: inline-block;
    >ul {
      >li {
        display: inline-block;
      }
    }
    a {
      display: block;
      padding-right: 30px;
    }
  }
  .main-col-1 {
    >ul {
      >li {
        width: 100%;
      }
    }
  }
  .main-col-3 {
    >ul {
      >li {
        width: 33.33%;
      }
    }
  }
  .main-col-4 {
    >ul {
      >li {
        width: 25%;
      }
    }
  }
  .main-col-5 {
    >ul {
      >li {
        width: 20%;
      }
    }
  }
  .main-right {
    display: inline-block;
    vertical-align: top;
  }
  .main-left {
    display: inline-block;
    vertical-align: top;
  }
}
.main-col-2 {
  >ul {
    >li {
      width: 50%;
    }
  }
}
/* ==================== END DEFAULT STYLE ===================== */
/* Kistore */
#header{
  .nav-sections{
    background-color: #fff;
    margin:0;
  }
  .navigation{
    background-color: #fff;
  }
}
#megamenu{
  max-width: @page_width;
  box-sizing: border-box;
  padding:0;
}