.columns .column.main {
    padding-bottom: 90px;
    > div > .sow-block:last-child{
    	margin-bottom: 0;
    }
}
.sow-panel .item-content ul li {
    margin-bottom: 5px;
}
.sow-panel .item-content {
    padding-top: 15px;
}
#sow-search .block-content .nested{
	margin-top: 10px;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    right: -45px;
    top: 0;
    text-align: center;
    padding: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    opacity: 1;
    color: #000;
    line-height: 40px;
    font-size: 24px;
    padding-left: 1px;
    &:hover{
    	color: #fff;
    }
}
.page.messages {
    margin: 30px 0;
}
body .message{
	&.info, &.notice, &.success{
	    background: #f3e8cb;
	    padding-left: 62px;
	    > *:first-child:before {
		    font-size: 20px !important;
		    left: 16px;
		    top: 24px;
		    width: 45px;
		}		    
	}
	&.success{
	    background: #98ded3;
	    color: #000;
	}
} 
.page-title-wrapper {
    margin-top: 67px;
    h1{
    	margin-bottom: 52px;    	
    }
}
.login-container .fieldset > .field > .control {
    width: 100%;
}
.blog-post-view{
	h1 {
		margin-bottom: 38px;
	}
	.post-image:before{
		content: none !important;
	}
	.post-content {
	    padding-top: 25px;
	    border-top: 1px solid #ddd;
	    &:before{
	    	content: none !important;
	    }
	    blockquote{
		    font-size: 18px;
		    padding: 26px;
		    background: #f5f5f5;
		    text-align: center;
		    margin: 0;
		    border-left: 5px solid @primary_color;
		    margin: 40px 0 40px;    	
	    }
	}
	button[type='submit']{
		.button_style_2();
	}
	.comment-list {
	    margin-bottom: 46px;
	    padding-top: 8px;
	}
	.post-comments .item {
	    padding: 18px 30px 26px;
	    background: #f5f5f5;
	    margin-bottom: 28px;
	    .posted-on {
		    border-top: 1px solid #ddd;
		    margin-top: 23px;
		    padding: 8px 0;
		    font-size: 12px;
		    font-style: italic;
		}
		hr{
			display: none;
		}
	}	
	.blog-load-more-comment{
	    font-weight: 600;
	    text-decoration: underline;		
	}
	.blog-post-comment-list-toolbar{
		display: none;
	}	
	.post-info > *:not(.post-image) {
		padding: 8px 0 14px;
	    margin-bottom: 0;
	}	
}
textarea{
	border: 1px solid #ddd;
}
.post-comments {
    margin-top: 82px;
	h2 {
	    margin-bottom: 47px;
	} 
	.fieldset{
		margin: 0 -15px 38px;
		.field.comment{
			clear: both;
		}
	    .control, .label{
	    	padding: 0 15px;
	    }	 		
	}
	.fieldset > .field.name, .fieldset > .field.email {
	    float: left;
	    width: 50%;
	    display: inline-block;   
	}
}

.breadcrumbs {
    padding: 28px 0;
    background: #f5f5f5;
    max-width: none;
    // margin-bottom: 82px;
    .items {
	    font-size: 14px;
	    color: #3a3a3a;
	    margin: 0;
	    padding: 0;
	    list-style: none none;
	    max-width: 1140px;
	    margin: 0 auto;
		.item:not(:last-child):after {
		    vertical-align: middle;
		}	    
	}
	strong {
	    font-weight: normal;
	    color: @text_color;
	}
	a:visited {
	    color: inherit;
	    text-decoration: none;
	}
}
/* Categories */
.sow-blog-categories{
	.sow-items{
		list-style: none;
		margin-bottom: 0;
	}
	a{
		color: @text_color;
	}
	.sow-item:last-child{
		margin-bottom: 0;
	}	
}
.sidebar{
	.sow-title h3{
		font-size: 20px;
	    margin: 0 0 39px;
	}
	.sow-block{
		margin-bottom: 50px;
		&:first-child{
		    margin-top: -3px;
		}
	}
	.sow-blog-recent-post .sow-items{
		list-style: none;
		margin-bottom: 0;
		a{
			color: @text_color;
		}
		.sow-item:last-child{
			margin-bottom: 0;
		}
		.post-content{
			margin-bottom: 10px;
			&:before, &:after{
				content: "";
				display: table;
			}
			&:after{
				clear: both;
			}
			.post-image {
			    float: left;
			    max-width: 90px;
			    margin-right: 20px;
			}
			.title{
			    // width: calc( 100% - 110px );
			    // float: left;
			    margin-top: -7px;	
			    a{
			    	font-weight: 500;
			    	font-family: @font_title;
			    }		
			}
		}
	}	
}
.post-image{
    position: relative;
    overflow: hidden;
    /* box-sizing: border-box; */
    line-height: 1;
	&:before {
	    content: "";
	    background: rgba(0,0,0,0.3);
	    width: 100%;
	    position: absolute;
	    top: 0;
	    height: 100%;
	     -moz-transform: translateY(-100%);
	       -o-transform: translateY(-100%);
	      -ms-transform: translateY(-100%);
	  -webkit-transform: translateY(-100%);
	          transform: translateY(-100%);
	    opacity: 0;
	    visibility: hidden;
	    .transition_default();
	}
}
.post-content:hover, .sow-blog-post:hover{
	.post-image:before{
	     -moz-transform: translateY(0);
	       -o-transform: translateY(0);
	      -ms-transform: translateY(0);
	  -webkit-transform: translateY(0);
	          transform: translateY(0);	
	    opacity: 1;
				visibility: visible;          				
	}
	.title a , .post-title-link{
		color: @primary_color;
	}
}
.post-info > *:not(.post-image) {
    display: inline-block;
    font-size: 12px;
    color: @text_color;
    font-style: italic;
    &:after{
    	content: '|';
	    color: #ddd;
	    padding: 0 15px;	    	
    }
    &:last-child:after{
    	content: none;
    }

}
.blog-list{
	h2.post-title{
		margin: 19px 0 9px;
	}

	hr{
		display: none;
	}
	.sow-blog-post {
	    margin-bottom: 40px;
	}
}
.toolbar select {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    border-color: #ddd;
}
.blog-post-list-toolbar.bottom {
    border-top: 1px solid #ddd;
    margin: 53px 0 0;
    padding-top: 19px;
    span.toolbar-number {
	    color: @title_color;
	    font-weight: 600;
	}
}
.banner-item-inner{
	position: relative;
	overflow: hidden;
	line-height: 1;
	img{
		.transition_default();
	}
	&:not(.type-1){
		&:before{
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    z-index: 1;
		    height: 100%;
		    background: rgba(255,255,255,0.2);
		    content: '';
		    transition: transform 2s ease;
		    -webkit-transition: -webkit-transform 0.6s;
		    -ms-transition: -ms-transform 0.6s;
		    -moz-transition: -moz-transform 0.6s;
		    -o-transition: -o-transform 0.6s;
		    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-150%,0);
		    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-150%,0);
		    -ms-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-150%,0);
		    -moz-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-150%,0);
		    -o-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-150%,0);
		    pointer-events: none;		
		}
		h3{
			position: relative;
			&:before{
				content: '';
			    width: 120px;
			    height: 120px;
			    border-radius: 50%;
			    background: #000;
			    opacity: 0.26;
			    z-index: -1;
			    position: absolute;
			    left: 50%;
			    transform: translateX(-50%);
			    top: -60px;
			    .transition_default();
			}
			&:after{
				content: '';
			    width: 90px;
			    height: 90px;
			    border-radius: 50%;
			    background: #000;
			    opacity: 0.26;
			    z-index: -1;
			    position: absolute;
				left: 45%;
			    transform: translateX(-50%);
			    top: -87px;
			    .transition_default();
			}			
		}
	}
	&:not(.type-1):hover{
		&:before{
			transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,150%,0);
		    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,150%,0);
		    -ms-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,150%,0);
		    -moz-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,150%,0);
		    -o-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,150%,0);
		}
		img{
		    transform: scale3d(1.03,1.03,1);
		    -webkit-transform: scale3d(1.03,1.03,1);
		    -ms-transform: scale3d(1.03,1.03,1);
		    -moz-transform: scale3d(1.03,1.03,1);
		    -o-transform: scale3d(1.03,1.03,1);			
		}
		h3{
			&:before{
			    width: 130px;
			    height: 130px;
			}
			&:after{
			    width: 100px;
			    height: 100px;
			}			
		}		
	}
	.banner-content{
	    position: absolute;
	    width: 100%;
	    text-align: center;
	    top: 50%;
		     -moz-transform: translateY(-50%);
		       -o-transform: translateY(-50%);
		      -ms-transform: translateY(-50%);
		  -webkit-transform: translateY(-50%);
		          transform: translateY(-50%);		
		h3 {
		    font-size: 70px;
		    font-family: @font_title;
		    color: #fff;
	    	margin-bottom: -2px;
	    	margin-top: 0;	    
		}	
		p{
		    font-size: 18px;
		    color: #fff;			
		}	
		h4{
			color: #fff;
		    font-weight: normal;
		    text-transform: uppercase;
		    margin-bottom: 2px;	
		    margin-bottom: 10px;
		    font-size: 20px;		
		} 
		.shop-now{
			.button_style_2();
			margin-top: 33px;
		}         
	}
	&.type-1{
		&:before{
		    background: #fff;
		    left: 90px;
		    content: "";
		    width: 1px;
		    top: 50%;
		    position: absolute;
		    bottom: 50%;
		    // transition-duration: 0.5s;
		    // transition-property: top,bottom;
		    // transition-timing-function: ease-out;
		    .transition_default();
		    z-index: -1;
		}	
		&:after{
		    background: #fff;
		    right: 90px;
		    content: "";
		    width: 1px;
		    top: 50%;
		    position: absolute;
		    bottom: 50%;
			.transition_default();
		    z-index: -1;			
		}	
		a{
			&:before{
				background: #fff;
			    bottom: 60px;
			    content: "";
			    height: 1px;
			    left: 50%;
			    position: absolute;
			    right: 50%;
				.transition_default();
			    z-index: -1;
			}
			&:after{
				background: #fff;
			    top: 60px;
			    content: "";
			    height: 1px;
			    left: 50%;
			    position: absolute;
			    right: 50%;
				.transition_default();
			    z-index: -1;				
			}
		}
		&:hover{
			&:before{
				top: 40px;
			    bottom: 40px;
			    z-index: 1;				
			}
			&:after{
			    top: 40px;
			    bottom: 40px;
			    z-index: 1;				
			}
			a:before{
			    left: 70px;
			    right: 70px;
			    z-index: 1;
			}
			a:after{
				left: 70px;
			    right: 70px;
			    z-index: 1;
			}
			img{
			    transform: scale3d(1.03,1.03,1);
			    -webkit-transform: scale3d(1.03,1.03,1);
			    -ms-transform: scale3d(1.03,1.03,1);
			    -moz-transform: scale3d(1.03,1.03,1);
			    -o-transform: scale3d(1.03,1.03,1);			
			}			
		}
	}
}
.checkout-cart-index #shopping-cart-table thead tr th {
    color: #2b2b2b;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    border-right: 1px solid #ddd;
    vertical-align: middle;
    padding: 14px 30px 11px;
    border-bottom: none;
}
.checkout-cart-index #shopping-cart-table tbody tr td {
    vertical-align: middle;
    border-right: 1px solid #ddd;
    padding: 25px 15px;
    text-align: center;
    border-bottom: none !important;
    border-top: none !important;
    background: #f5f5f5;
}
#shopping-cart-table{
	border: 1px solid #ddd;
}