/* Product Slider */

.sow-label{
  position: absolute;
  display: inline-block;
  padding: 0px 10px;
  top: 10px;
  z-index: 1;
  font-size: 12px;
  background: @primary_color;
  color: #fff;
  border: none;
  text-transform: capitalize;    
  &.new-label{
    background: #6bc5d2;
    color: #fff;
    left: 10px;
  }
}
.sale-label{
  right: 10px;
}
.sow-title{
  h3{
    font-size: 32px;
    margin-bottom: 18px;
  }
  p{
    @media (min-width: 768px){
      max-width: 70%;
      margin: 0 auto;
    }    
  }
}
/* Action Secondary */
.sow-tab-product-slider{
  .sow-item{
    position: relative;
    padding-bottom: 70px;
    overflow: hidden;
    .sow-left-block{
      position: relative;
    }
    .actions-secondary{
      a{
        position: absolute;
        right: -55px;
        display: block;
        width: 40px;
        height: 40px;
        background: rgba(255,255,255,0.7);
        line-height: 40px;
        text-align: center;
        color: #646464;
        z-index: 1;
        visibility: hidden;
        opacity: 0;

        span{
          display: none;
        }
        &:first-child{
          top:5px;
          transition: all 0.3s ease-in-out 0s;
          -webkit-transition: all 0.3s ease-in-out 0s;
          -ms-transition: all 0.3s ease-in-out 0s;
        }
        &:nth-child(2){
          top:50px;
          transition: all 0.5s ease-in-out 0s;
          -webkit-transition: all 0.5s ease-in-out 0s;
          -ms-transition: all 0.5s ease-in-out 0s;

        }
        &:nth-child(3){
          top:95px;
          transition: all 0.7s ease-in-out 0s;
          -webkit-transition: all 0.7s ease-in-out 0s;
          -ms-transition: all 0.7s ease-in-out 0s;

        }
      }
    }
    &:hover{
      .actions-secondary{
        a{
          visibility: visible;
          opacity: 1;
          right: 5px;
        }
      }
    }
  }
}

/* Action Primary & Name  */
.sow-tab-product-slider {
  .sow-item {
    .sow-item-details {
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0;
      margin-bottom: -33px;
      box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px 0;
      background: #fff;
      z-index: 2;
      height: 66px;
      text-align: center;
      padding: 0 10px;
      transform: rotateX(0);
      -webkit-transform: rotateX(0);
      -ms-transform: rotateX(0);
      -moz-transform: rotateX(0);
      -o-transform: rotateX(0);
      opacity: 1;
      transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      -ms-transition: all 0.5s ease-in-out 0s;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
    }
    .actions-primary {
      position: absolute;
      left: 25px;
      right: 25px;
      bottom: 0;
      margin-bottom: -25px;
      z-index: 1;
      transform: rotateX(-180deg);
      -webkit-transform: rotateX(-180deg);
      -ms-transform: rotateX(-180deg);
      -moz-transform: rotateX(-180deg);
      -o-transform: rotateX(-180deg);
      opacity: 0;
      transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      -ms-transition: all 0.5s ease-in-out 0s;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      button {
        width: 100%;
        height: 50px;
        line-height: 50px;
        box-shadow: rgba(0, 0, 0, 0.35) 0 0 10px;
      }
    }
    &:hover {
      .actions-primary {
        opacity: 1;
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        z-index: 2;
      }
      .sow-item-details {
        opacity: 0;
        left: 30px;
        right: 30px;
        z-index: 1;
        height: 40px;
        margin-bottom: -20px;
        transform: rotateX(-180deg);
        -webkit-transform: rotateX(-180deg);
        -ms-transform: rotateX(-180deg);
        -moz-transform: rotateX(-180deg);
        -o-transform: rotateX(-180deg);
      }
    }
  }
}
/* Tab Product Slider*/
.sow-tab-product-slider{
  .sow-title{
    text-align: center;
    padding-bottom: 46px;
  }
  .sow-tab-list{
    text-align: center;
    padding-bottom: 0;
    margin-bottom: -17px;
    position: relative;
    z-index: 2;
    ul{
      margin-bottom: 0;
      li{
        display: inline-block;
        margin-bottom: 0;
        a{
          padding: 0 20px;
          text-transform: uppercase;
          font-weight: 500;
          font-family: @font_title; 
          letter-spacing: 1px;    
          &.active{
            color: @primary_color;
          }
        }
      }
    }
  }
  .sow-tab-content{
    display: none;
  }
  .sow-items.owl-carousel{
    padding-top: 70px;
  }
}
/* Product Grid General Style */
.sow-item-name a {
    font-weight: 600;
    font-family: @font_title;
    text-transform: capitalize;
  margin-top: 10px;
  display: block;
  line-height: 20px;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price-box{
  .price{
    font-size: 16px;
    color: @primary_color;
    font-weight: 600;
  }
  .old-price{
    .price-label{
      display: none;
    }
    .price {
      color: #999;
      font-size: 14px;
      padding-left: 8px;
      text-decoration: line-through;
    }
  }
  .special-price{
    .price-label{
      display: none;
    }
    .price {
      color: @primary_color;
    }
  }
  .normal-price{
    .price-label{
      display: none;
    }
    .price {
      color: @primary_color;
    }
  }
}

.product-image-wrapper:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    z-index: 2;
     -moz-transform: translateY(-100%);
       -o-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
    .transition_default();
    opacity: 0;
    visibility:hidden;
}
/* Hover */
.sow-item:hover{
  .product-image-wrapper:before {
     -moz-transform: translateY(0);
       -o-transform: translateY(0);
      -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
          transform: translateY(0);
    opacity: 1;
    visibility:visible;          
  }
}