.sow-instagram{
  .sow-fullwidth{
    .sow-fw-container{
      max-width: 1600px;
    }
  }
   .sow-owlcarousel{
     position: relative;
    .image + a{
      position: absolute;
      top: 55%;
      left: 50%;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: #fff;
      border-radius: 50%;
      transform: translateY(-50%) translateX(-50%);
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden;
    }
    .sow-item{
      cursor: pointer;
      position: relative;
      &:before{
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
        position: absolute;
        transform: scale(0.3);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
      }
      &:hover{
        .image + a{
          opacity: 1;
          top: 50%;
          visibility: visible;
        }
        &:before{
          transform: scale(1);
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &:hover{
      .sow-title{
        opacity: 0;
        pointer-events: none;
        .transition_default();
      }
    }
  }
  .sow-title{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 398px;
    background: rgba(0,0,0,0.4);
    text-align: center;
    height: 75px;
    line-height: 75px;
    transition: all 0.3s ease;
    .transition_default();
    h3{
      margin: 0;
      line-height: 75px;
      text-transform: uppercase;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
  }
}