.sow-blog-lastest-news {

  .post-content {
    position: relative;
    .post-detailt {
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      bottom: 0;
      padding: 0 30px 3px;
      background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.45) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.45)));
      background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.45) 100%);
      background: -o-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.45) 100%);
      background: -ms-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.45) 100%);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.45) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
      right: 0;
      color: #d0d0d0;
      .transition_default();
      a {
        color: #fff;
      }
      .comment-link {
        margin-bottom: 7px;
        a i {
          padding-left: 5px;
        }
      }
      .title {
        font-size: 18px;
        font-family: Poppins;
        font-weight: 600;
        &:hover {
          color: @primary_color;
        }
      }
      .created_at {
        font-style: italic;
      }
      .readmore {
        color: @primary_color;
        font-weight: 500;
        font-family: Poppins;
        margin-top: 15px;
        display: block;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        &:after {
          content: "\f178";
          font-family: FontAwesome;
          padding-left: 6px;
        }
      }
    }
    &:hover .post-detailt {
      padding-bottom: 38px;
      .readmore {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  .sow-title {
    text-align: center;
    margin-bottom: 55px;
    h3 {
      font-size: 32px;
      margin-bottom: 16px;
    }
    @media (min-width: 768px) {
      p {
        max-width: 50%;
        margin: 0 auto;
        letter-spacing: 1px;
      }
    }
  }
}