#sow-slideshow{
    /* Style Animation Center*/
    .style-1{
      .sow-text-box{
        position: absolute;
        top:50%;
        left:50%;
        max-width: 600px;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        text-align: center;
      }
    }
    .owl-item.active{
      .style-1 {
        .sow-text-box{
          & > div{
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
          }
        }
        .first-title{
          -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
        }
        .second-title{
          -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
        }
        .slider-text{
          -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
        }
        .slider-btn{
          -webkit-animation-name: rollIn;
          animation-name: rollIn;
        }
      }
    }
    /* Style Animation Left*/
  .style-3{
    .sow-text-box{
      position: absolute;
      top:50%;
      left:0;
      max-width: 600px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      text-align: left;
    }
    .first-title{
      color: @title_color;
    }
    .second-title{
      color: @title_color;
    }
    .slider-text{
      color: @title_color;
    }
    .slider-btn{
      a{
        .button_style_1();
      }
    }
  }
  .owl-item.active{
    .style-3 {
      .sow-text-box{
        & > div{
          -webkit-animation-duration: 2s;
          animation-duration: 2s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }
      }
      .first-title{
        -webkit-animation-name: bounceInDown;
        animation-name: bounceInDown;
      }
      .second-title{
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
      }
      .slider-text{
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
      }
      .slider-btn{
        -webkit-animation-name: rollIn;
        animation-name: rollIn;
      }
    }
  }

  /* Style Animation Right */
  .style-2{
    .sow-text-box{
      position: absolute;
      top:50%;
      right:0;
      max-width: 600px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      text-align: right;
    }
    .first-title{
      color: @title_color;
    }
    .second-title{
      color: @title_color;
    }
    .slider-text{
      color: @title_color;
    }
    .slider-btn{
      a{
        .button_style_1();
      }
    }
  }
  .owl-item.active{
    .style-2 {
      .sow-text-box{
        & > div{
          -webkit-animation-duration: 2s;
          animation-duration: 2s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }
      }
      .first-title{
        -webkit-animation-name: bounceInDown;
        animation-name: bounceInDown;
      }
      .second-title{
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
      }
      .slider-text{
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
      }
      .slider-btn{
        -webkit-animation-name: rollIn;
        animation-name: rollIn;
      }
    }
  }

  /*Style Text*/
  .text-container{
    position: absolute;
    max-width: 1140px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    height: 100vh;
    width: 100vw;
  }

  .first-title{
    font-family: @font_title;
    font-weight: normal;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    margin-bottom: 22px;
  }
  .second-title{
    font-family: @font_title;
    font-weight: 600;
    font-size: 50px;
    line-height: 1;
    color: #fff;
    margin-bottom: 16px;
  }
  .slider-text{
    font-size: 14px;
    color: #fff;
    margin-bottom: 40px;
  }
  .slider-btn{
    a{
      .button_style_1();
    }
  }
  &.sow-owlcarousel{
    .sow-items{
      margin:0;
      .owl-item{
        padding:0;
      }
    }
  }
}



/* CSS Loading */
.sow-loading{
  display: block;
  position: relative;
  .sow-el{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background: #fff;
  }
}

.cssload {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  perspective: 780px;
  position: absolute;
  top:50%;
  left: 50%;
  margin-top:-31px;
  margin-left:-31px;
}

.cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.cssload-inner.cssload-one {
  left: 0%;
  top: 0%;
  animation: cssload-rotate-one 1.15s linear infinite;
  -o-animation: cssload-rotate-one 1.15s linear infinite;
  -ms-animation: cssload-rotate-one 1.15s linear infinite;
  -webkit-animation: cssload-rotate-one 1.15s linear infinite;
  -moz-animation: cssload-rotate-one 1.15s linear infinite;
  border-bottom: 3px solid rgb(0,0,0);
}

.cssload-inner.cssload-two {
  right: 0%;
  top: 0%;
  animation: cssload-rotate-two 1.15s linear infinite;
  -o-animation: cssload-rotate-two 1.15s linear infinite;
  -ms-animation: cssload-rotate-two 1.15s linear infinite;
  -webkit-animation: cssload-rotate-two 1.15s linear infinite;
  -moz-animation: cssload-rotate-two 1.15s linear infinite;
  border-right: 3px solid rgb(0,0,0);
}

.cssload-inner.cssload-three {
  right: 0%;
  bottom: 0%;
  animation: cssload-rotate-three 1.15s linear infinite;
  -o-animation: cssload-rotate-three 1.15s linear infinite;
  -ms-animation: cssload-rotate-three 1.15s linear infinite;
  -webkit-animation: cssload-rotate-three 1.15s linear infinite;
  -moz-animation: cssload-rotate-three 1.15s linear infinite;
  border-top: 3px solid rgb(0,0,0);
}


@keyframes cssload-rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-o-keyframes cssload-rotate-one {
  0% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-ms-keyframes cssload-rotate-one {
  0% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes cssload-rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-moz-keyframes cssload-rotate-one {
  0% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes cssload-rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-o-keyframes cssload-rotate-two {
  0% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-ms-keyframes cssload-rotate-two {
  0% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes cssload-rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-moz-keyframes cssload-rotate-two {
  0% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes cssload-rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-o-keyframes cssload-rotate-three {
  0% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-ms-keyframes cssload-rotate-three {
  0% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-webkit-keyframes cssload-rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-moz-keyframes cssload-rotate-three {
  0% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}