
/* Testimonial */
.sow-testimonial{
  text-align: center;
  .sow-item{
    .image{
	      width: 100px;
	      height: 100px;
	      display: inline-block;
	      padding: 4px;
	      position: relative;
	    &:before{
	      	content: "";
		    width: 30px;
		    height: 15px;
		    background: #fff;
		    border-top: 2px solid @primary_color;
		    border-left: 2px solid @primary_color;
		    position: absolute;
		    left: 0;
		    top: 0;
		    z-index: 0;
	    }
	    &:after{
	      	content: "";
		    width: 30px;
		    height: 15px;
		    background: #fff;
		    border-right: 2px solid @primary_color;
		    border-bottom: 2px solid @primary_color;
		    position: absolute;
		    right: 0;
		    bottom: 0;
		    z-index: 0;	    	
	    }
	    img{
	    	position: relative;
	    	z-index: 2;
	    }
    }
    .content{
    	font-size: 20px;
	    line-height: 35px;
	    color: #000;
	    max-width: 90%;
	    margin: 0 auto;
	    margin-top: 25px;
    }
    .name{
	    font-size: 17px;
	    margin-top: 15px;    
	    &:before, &:after{
	    	content: '-';
	    	padding: 0 10px;
	    }	
    }
  }
}