/* Icon boxes */
.icon-boxes{
  .icon-boxes-inner{
    display: flex;
    .box-icon{
      font-size:24px;
      color: #fff;
      background: @primary_color;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      margin-right: 20px;
    }
    .box-content{
      h4{
        margin-top:0;
        margin-bottom: 10px;
      }
      p{
        margin-bottom:-7px;
      }
    }
  }
}

/* featurer-categories */
.featurer-categories{
  .cate-item-inner{
    position: relative;
    a{
      position: absolute;
      display: inline-block;
      background: rgba(255,255,255,0.57);
      .font_title();
      font-size: 16px;
      min-width: 165px;
      text-align: center;
      padding:0 20px;
      .transition_default();
      bottom: 25px;
      line-height: 37px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      &:hover{
        color: #fff;
        background: @primary_color;
      }
    }
  }
}