/* Reset Css*/
.sow-owlcarousel {
  .sow-title {
  }
  .sow-items {
    width: auto;
    margin: 0 -15px;
    .owl-item {
      padding: 0 15px;
      box-sizing: border-box;
      img {
        width: auto;
      }
    }
    /* NAV */
    .owl-nav {
      font-size: 24px;
      opacity: 0;
      visibility: hidden;
      .transition_default();
      .owl-prev {
        position: absolute;
        top: 50%;
        width: 42px;
        height: 42px;
        right: 100%;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        .transition_default();
        text-align: center;
        line-height: 38px;
        margin-top:-21px;
        &:hover{
          background: @primary_color;
          border-radius: 50%;
          .transition_default();
          &:before{
            border-color: @primary_color;
            border-radius: 50%;
            .transition_default();
          }
        }
        &:before{
          content: '';
          width: 44px;
          height: 44px;
          position: absolute;
          border: 2px solid rgba(0, 0, 0, 0.3);
          background: transparent;
          top:-3px;
          left:-3px;
        }
      }
      .owl-next {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        left: 100%;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        text-align: center;
        line-height: 38px;
        margin-top:-21px;
        .transition_default();
        &:hover{
          background: @primary_color;
          border-radius: 50%;
          .transition_default();
          &:before{
            border-color: @primary_color;
            border-radius: 50%;
            .transition_default();
          }
        }
        &:before{
          content: '';
          width: 42px;
          height: 42px;
          position: absolute;
          border: 1px solid rgba(0, 0, 0, 0.3);
          background: transparent;
          top:-2px;
          left:-2px;
        }
      }
    }
    /* DOTS */
    .owl-dots{
      position: absolute;
      bottom:-27px;
      left:50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      .owl-dot{
        border: 1px solid rgba(0,0,0,0.3);
        width: 10px;
        height: 10px;
        display: inline-block;
        margin:0 4px;
        border-radius: 50%;
        &.active{
          border-color: @primary_color;
          background: @primary_color;
        }
      }
    }
  }
  &:hover{
    .owl-nav {
      opacity: 1;
      .transition_default();
      visibility: visible;
    }
  }

}