<div id="ajax_alert">
        <div class="ajax_processing">
            <div class="ajax-icon">
                <div id="circularG">
                    <div id="circularG_1" class="circularG"></div>
                    <div id="circularG_2" class="circularG"></div>
                    <div id="circularG_3" class="circularG"></div>
                    <div id="circularG_4" class="circularG"></div>
                    <div id="circularG_5" class="circularG"></div>
                    <div id="circularG_6" class="circularG"></div>
                    <div id="circularG_7" class="circularG"></div>
                    <div id="circularG_8" class="circularG"></div>
                </div>
            </div>
            <div class="ajax_message"><?php echo __('Processing...')?></div>
        </div>
        <div class="ajax_res">
        </div>
        <a href="javascript:void(0)" class="action close"><i class="fa fa-close"></i></a>
</div>
