<div class="footer-type type-1">
    <?php
    $customer_care = $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('hp-01-footer-top-customer-care')->toHtml();
    $categories = $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('hp-01-footer-top-categories')->toHtml();
    ?>
    <div class="footer-top">
        <div class="sow-container">
            <div class="sow-row">
                <a href="javascript:void(0)" class="footer-quick-links" title="Quick Links"><i class="fa fa-external-link"></i></a>
                <div class="footer-top-content">
                    <div class="customer_care">
                        <?php echo $customer_care;?>
                    </div>
                    <div class="categories">
                        <?php echo $categories;?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php
    $contact_us = $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-middle-contact-us')->toHtml();
    $newsletter = $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-middle-newsletter')->toHtml();
    $payment = $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-middle-payment')->toHtml();
    ?>
    <div class="footer-middle">
        <div class="sow-container">
            <div class="sow-row">
                <div class="footer-block">
                    <?php echo $contact_us;?>
                </div>
                <div class="footer-block">
                    <?php echo $payment;?>
                </div>
                <div class="footer-block">
                    <div class="sow-newsletter">
                        <?php echo $newsletter; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php
    $copyright = $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-bottom-copyright')->toHtml();
    $social = $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-bottom-social')->toHtml();
    ?>
    <div class="footer-bottom">
        <div class="sow-container">
            <div class="sow-row">
                <div class="footer-block">
                    <div class="sow-copyright"><?php echo $copyright;?></div>
                </div>
                <div class="footer-block">
                    <div class="sow-social"><?php echo $social;?></div>
                </div>
            </div>
        </div>
    </div>
</div>