<?php
$collection = $block->getSliderCollection();
$width = '1920px';
$height = '704px';
if($width && $height && $width > 1 && $height > 1){
    $percent_ratio = round(($height*100/$width),8);
}
?>
<?php if(count($collection) > 0 ):?>
<div class="sow-fullwidth sow-block">
    <div class="sow-fw-container">
        <div class="sow-loading" style="padding-bottom: <?php echo $percent_ratio.'%' ?>">
            <div class="cssload">
                <div class="cssload-inner cssload-one"></div>
                <div class="cssload-inner cssload-two"></div>
                <div class="cssload-inner cssload-three"></div>
            </div>
            <div class="sow-el">
                <div id="sow-slideshow" class="sow-owlcarousel">
                    <div class="owl-carousel sow-items" data-slider='<?php echo $block->getDataSlider()?>'>
                        <?php foreach ($collection as $slider): ?>
                            <?php
                            $sliderUrl = $slider->getSliderUrl();
                            $sliderName = $slider->getSliderName();
                            $first_title = $slider->getFirstTile();
                            $second_title = $slider->getSecondTitle();
                            $slider_text = $slider->getSliderText();
                            $button_text = $slider->getButtonText();
                            $button_url = $slider->getButtonUrl();
                            $style_type = $slider->getStyleType();
                            ?>
                            <div class="sow-item <?= $style_type ?>">
                                <?php if($sliderUrl):?>
                                    <div class="image-container">
                                        <a href="javascript:void(0)"><img src="<?= $sliderUrl ?>" alt="<?= $sliderName ?>"></a>
                                    </div>
                                <?php endif; ?>
                                <div class="text-container">
                                    <div class="sow-text-box">
                                        <?php if($first_title):?>
                                            <div class="first-title">
                                                <?= $first_title ?>
                                            </div>
                                        <?php endif;?>
                                        <?php if($second_title):?>
                                            <div class="second-title">
                                                <?= $second_title ?>
                                            </div>
                                        <?php endif;?>
                                        <?php if($slider_text):?>
                                            <div class="slider-text">
                                                <?= $slider_text ?>
                                            </div>
                                        <?php endif;?>
                                        <?php if($button_text && $button_url):?>
                                            <div class="slider-btn">
                                                <a href="<?= $button_url ?>"><?= $button_text ?></a>
                                            </div>
                                        <?php endif;?>
                                    </div>
                                </div>
                            </div>
                        <?php endforeach ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>
