<?php
$title = $block->getOptions('widget_title');
$row = $block->getOptions('row');
$items = $block->getInstagramCollection();
$size = array();
$size['width'] = $block->getOptions('width') ? $block->getOptions('width') : 200  ;
$size['height'] = $block->getOptions('height') ? $block->getOptions('height') : 195  ;

?>
<?php if(count($items) > 0 ): ?>
<div class="sow-instagram">
    <div class="sow-fullwidth">
        <div class="sow-fw-container">
            <div class="sow-owlcarousel">
                <?php if ($title): ?>
                    <div class="sow-title">
                        <h3><span><?php /* @escapeNotVerified */
                                echo $title; ?></span></h3>
                    </div>
                <?php endif ?>
                <div class="sow-content">
                    <div class="sow-items owl-carousel" data-slider='<?php echo $block->getDataSlider() ?>'>
                        <?php foreach ($items as $item): ?>
                            <div class="sow-item">
                                <div class="content">
                                    <div class="image"><?php echo $item->getImage($size) ?></div>
                                    <a href="<?php echo $item->getInstagramLink() ?>" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        <?php endforeach ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php endif?>