<?php

$html = $block->drawMenu(0);
?>

<div id="sow_menu">
    <div class="menu-actions">
        <a class="action-default new-root-menu" href="http://magento.build/admin/megamenu/item/create"><?= __('New Root Menu');?></a>
        <a class="action-default new-item" href="http://magento.build/admin/megamenu/item/new"><?= __('New Item');?></a>
    </div>
    <div class="menu-item-tree">
        <?php echo $html;?>
    </div>
</div>

<script>
    require(['jquery'], function($){
        $('#sow_menu .lv-2 .open').on('click', function (e) {
                $(this).parent().toggleClass('active');
        })
        $('#sow_menu li.active').parents('.has_children').addClass('active');
    });
    /* End Require*/
</script>