
#sow_menu{

  .menu-actions{
    a{
      margin-bottom: 3rem;
      &.new-root-menu{
        margin-right: 10px;
      }
    }
  }
  .menu-item-tree{
    font-size: 1.4rem;
    //border:1px solid #e3e3e3;
    >ul{
      >li{
        >a{
          border-bottom:1px solid #e3e3e3;

        }
        &:not(:first-child){
          >a{
            //border-top:1px solid #e3e3e3;
          }
        }
      }
      margin:0;
      li{
        position: relative;
        list-style: none;
        a{
          display: block;
          color: #303030;
          line-height: 24px;
          padding-top:5px;
          padding-bottom:5px;
          height: 35px;
          &.active{
            text-decoration: underline;
            color: #eb5202;
            & + .open{
              &:before{

                background: #eb5202;
              }
              &:after{
                background: #eb5202;
              }
            }
          }
        }
        .open{
          width: 35px;
          height: 35px;
          display: inline-block;
          position: absolute;
          right: 0;
          top:0;
          &:before{
            content: '';
            width: 2px;
            height: 15px;
            top:10px;
            left:15px;
            position: absolute;
            background: #303030;
          }
          &:after{
            content: '';
            width: 15px;
            top:15px;
            left:10px;
            height: 2px;
            position: absolute;
            background: #303030;
          }
        }
        &.active{
          > .open{
            &:before{
              display: none;
            }
          }
        }
      }
    }
    .lv-1{
      li{
        padding-left:1.5rem;
        a{
          &:before{
            content: '\e62a';
            font-family: 'Admin Icons';
            font-size: 1rem;
            margin-right: 3px;
          }
          &.active{
            text-decoration: underline;
            color: #eb5202;
          }
        }
        ul{
          display: none;
          visibility: hidden;
          opacity: 0;
          transition: all 300ms ease 0s;
          -ms-transition: all 300ms ease 0s;
          -webkit-transition: all 300ms ease 0s;

        }
        &.active{
          > ul{
            display: block;
            opacity: 1;
            visibility: visible;
          }
        }
        &:last-child{

        }
      }
    }
  }

}
