<?php
$helper = $this->helper('SoW\Blog\Helper\Data');
$post = $block->getCurrentPost();
?>
<div class="sow-blog-post">
    <div class="post-info">
        <div class="post-image">
            <img src="<?php echo $post->getImageUrl(); ?>" alt="<?php echo $post->getTitle() ?>">
        </div>
		
		<?php echo $block->getChildHtml('blog.detail.sharethis'); ?>

        <div class="created_at">
            <?php if ($post->getUpdatedByUser()): ?>
                <?php echo __('%1', $block->formatDate($post->getCreatedAt(), \IntlDateFormatter::MEDIUM, false)); ?>&nbsp;<?php echo __('by: %1', $post->getUpdatedByUser()); ?>
            <?php else: ?>
                <?php echo __('%1', $block->formatDate($post->getCreatedAt(), \IntlDateFormatter::MEDIUM, false)); ?>&nbsp;<?php echo __('by %1', $post->getUser()); ?>
            <?php endif; ?>
        </div>
        <?php $categories = $post->getCatetories(); ?>
        <?php if (count($categories)): ?>
            <p class="posted-in">
                <?php echo __('Posted In: ') ?>
                <?php foreach ($categories as $category): ?>
                    <a title="<?php echo $category->getTitle(); ?>" href="<?php echo $category->getCategoryUrl(); ?>"><?php echo $category->getTitle(); ?></a>
                <?php endforeach; ?>
            </p>
        <?php endif; ?>
    </div>
    <?php if ($post->getContent()): ?>
        <div class="post-content">
            <?php echo $post->getContent(); ?>
        </div>
    <?php endif; ?>
    <?php if ($post->getTags()): ?>
        <?php $tags = explode(',', $post->getTags()); ?>
        <div class="post-tags">
            <?php echo __('Tags: '); ?>
            <?php foreach ($tags as $tag): ?>
                <a title="<?php echo trim($tag); ?>" href="<?php echo $helper->getTagUrl(trim($tag)); ?>"><?php echo trim($tag); ?></a>
            <?php endforeach; ?>
        </div>
    <?php endif; ?>

	
    <?php echo $block->getChildHtml('post_view_comment'); ?>
</div>
