<?php

$menu = $block->getMenu();

//$html = $block->drawMenu($items, $parent_id = 0,$lv = 1);

?>
<nav id="megamenu" class="navigation" data-action="navigation">
    <ul>
        <?php echo $menu;?>
    </ul>
</nav>
