<?php

use Magento\Framework\App\Action\Action;

$items = $block->getProductCollection()->getItems();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$urlHelper = $objectManager->create('\Magento\Framework\Url\Helper\Data');
?>
<?php if (count($items) > 0): ?>
    <?php
    $title = $block->getTitle() ? __($block->getTitle()) : 'Widget title';
    $description = $block->getDescription();
    $image = 'sow_product_slider';
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    ?>
    <div class="sow-owlcarousel">
        <?php if ($title): ?>
            <div class="sow-title">
                <h3><?php /* @escapeNotVerified */
                    echo $title; ?></h3>
                <?php if ($description != ''): ?>
                    <p><?php /* @escapeNotVerified */
                        echo $description; ?></p>
                <?php endif ?>
            </div>
        <?php endif ?>
        <div class="sow-content">
            <div class="sow-items owl-carousel" data-slider='<?php echo $block->getDataSlider() ?>'>
                <?php foreach ($items as $_item): ?>
                    <div class="sow-item">
                        <div class="sow-item-photo">
                            <a href="<?php /* @escapeNotVerified */
                            echo $block->getProductUrl($_item) ?>">
                                <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                            </a>
                            <!-- New Label -->
                            <?php
                            $isNew = $this->checkProductIsNew($_item);
                            ?>
                            <?php if ($isNew): ?>
                                <div class="sow-label new-label"><?php echo __('new'); ?></div>
                            <?php endif; ?>
                            <!--  Sale Label -->
                            <?php
                            $isSale = $this->checkProductIsSale($_item);

                            ?>
                            <?php if ($isSale): ?>
                                <div class="sow-label sale-label"><?php echo __('sale'); ?></div>
                            <?php endif; ?>
                            <!-- Show count down -->
                            <?php
                            $countDown = $this->checkCountDownTimer($_item);
                            ?>
                            <?php if ($countDown['isCountDown']): ?>
                                <div class="count-down" data-time="<?php echo $countDown['time'] ?>"></div>
                            <?php endif ?>
                        </div>
                        <div class="sow-item-details">
                            <div class="sow-item-name">
                                <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                   href="<?php /* @escapeNotVerified */
                                   echo $block->getProductUrl($_item) ?>">
                                    <?php echo $block->escapeHtml($_item->getName()) ?>
                                </a>
                            </div>
                            <?php echo $block->getProductPriceHtml($_item) ?>

                            <div class="sow-item-actions">
                                <!--  Add to cart -->
                                <div class="actions-primary">
                                    <?php if ($_item->isSaleable()): ?>
                                        <?php $url = $this->getAddToCartUrl($_item); ?>
                                        <form data-role="tocart-form" action="<?php /* @escapeNotVerified */
                                        echo $url; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php /* @escapeNotVerified */
                                            echo $_item->getEntityId(); ?>">
                                            <input type="hidden" name="<?php /* @escapeNotVerified */
                                            echo Action::PARAM_NAME_URL_ENCODED; ?>"
                                                   value="<?php /* @escapeNotVerified */
                                                   echo $urlHelper->getEncodedUrl($url) ?>">
                                            <?php echo $block->getBlockHtml('formkey') ?>
                                            <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                        <span><?php /* @escapeNotVerified */
                                            echo __('Add to Cart') ?></span>
                                            </button>
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_item->getIsSalable()): ?>
                                            <div class="stock available"><span><?php /* @escapeNotVerified */
                                                    echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php /* @escapeNotVerified */
                                                    echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <?php if ($block->getAddToCompareUrl()): ?>
                                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
                                    <a href="#" class="action tocompare"
                                       title="<?= /* @escapeNotVerified */
                                       __('Add to Compare') ?>"
                                       data-post='<?= /* @escapeNotVerified */
                                       $compareHelper->getPostDataParams($_item) ?>'>
                                        <i class="fa fa-retweet"></i>
                                        <span><?= /* @escapeNotVerified */
                                            __('Add to Compare') ?></span>
                                    </a>
                                <?php endif; ?>

                                <!-- Add to wishlist -->
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                    <a href="#"
                                       data-post='<?php /* @escapeNotVerified */
                                       echo $block->getAddToWishlistParams($_item); ?>'
                                       class="action towishlist" data-action="add-to-wishlist"
                                       title="<?php /* @escapeNotVerified */
                                       echo __('Add to Wish List') ?>">
                                        <i class="fa fa-heart-o"></i>
                                        <span><?php /* @escapeNotVerified */
                                            echo __('Add to Wish List') ?></span>
                                    </a>
                                <?php endif; ?>

                                <!--Quick view-->
                                <?php if ($_item->getTypeId() != 'configurable'): ?>
                                    <a class="quickview"
                                       data-href="<?php echo $this->getBaseUrl() . 'base/quickview/index/id/' . $_item->getId() ?>"
                                       href="javascript:void(0)" title="<?php echo __('Quick View') ?>">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                <?php else: ?>
                                    <a class="view-more"
                                       href="<?= $block->getProductUrl($_item) ?>" title="View More">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                <?php endif; ?>

                            </div>
                        </div>
                    </div>
                <?php endforeach ?>
            </div>
        </div>
    </div>
<?php endif; ?>

<?php if (!$block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
        {
            "[data-role=tocart-form]": {
                    "sowaddtocart": {
                }
            }
        }

    </script>
<?php endif; ?>
<script type="text/x-magento-init">
{
    ".quickview": {
            "quickview": {

        }
    }
}

</script>