<?php

use Magento\Framework\App\Action\Action;

$items = $block->getProductCollection()->getItems();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$urlHelper = $objectManager->create('\Magento\Framework\Url\Helper\Data');

$row = $this->getOptions('row');
?>
<?php if (count($items) > 0): ?>
    <?php
    $image = 'sow_product_slider';
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    ?>
    <div class="sow-owlcarousel">
        <div class="sow-content">
            <div class="sow-items owl-carousel" data-slider='<?php echo $block->getDataSlider() ?>'>
                <?php
                $i = 0;
                $y = ($row) ? $row : 1;
                ?>
                <?php foreach ($items as $_item): ?>
                    <?php if ($i % $y == 0): ?>
                        <div class="sow-item-wrap">
                    <?php endif; ?>
                    <div class="sow-item">
                        <div class="sow-left-block">
                            <a href="<?php /* @escapeNotVerified */
                            echo $block->getProductUrl($_item) ?>">
                                <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                            </a>
                            <div class="actions-secondary">
                                <!--Quick view-->
                                <a class="quickview"
                                   data-href="<?php echo $block->getProductUrl($_item) ?>"
                                   href="javascript:void(0)" title="<?php echo __('Quick View') ?>">
                                    <i class="fa fa-eye"></i>
                                    <span><?php /* @escapeNotVerified */
                                        echo __('Quick View') ?></span>
                                </a>
                                <!-- Add to wishlist -->
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                    <a href="#"
                                       data-post='<?php /* @escapeNotVerified */
                                       echo $block->getAddToWishlistParams($_item); ?>'
                                       class="action towishlist" data-action="add-to-wishlist"
                                       title="<?php /* @escapeNotVerified */
                                       echo __('Add to Wish List') ?>">
                                        <i class="fa fa-heart-o"></i>
                                        <span><?php /* @escapeNotVerified */
                                            echo __('Add to Wish List') ?></span>
                                    </a>
                                <?php endif; ?>
                                <!-- Compare -->
                                <?php if ($block->getAddToCompareUrl()): ?>
                                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
                                    <a href="#" class="action tocompare"
                                       title="<?= /* @escapeNotVerified */
                                       __('Add to Compare') ?>"
                                       data-post='<?= /* @escapeNotVerified */
                                       $compareHelper->getPostDataParams($_item) ?>'>
                                        <i class="fa fa-retweet"></i>
                                        <span><?= /* @escapeNotVerified */
                                            __('Add to Compare') ?></span>
                                    </a>
                                <?php endif; ?>
                            </div>
                            <div class="sow-item-details">
                                <div class="sow-item-name">
                                    <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                       href="<?php /* @escapeNotVerified */
                                       echo $block->getProductUrl($_item) ?>">
                                        <?php echo $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </div>
                                <!-- Price -->
                                <?php echo $block->getProductPriceHtml($_item) ?>
                            </div>
                            <!--  Add to cart -->
                            <div class="actions-primary">
                                <?php if ($_item->isSaleable()): ?>
                                    <?php $url = $this->getAddToCartUrl($_item); ?>
                                    <form data-role="tocart-form" action="<?php /* @escapeNotVerified */
                                    echo $url; ?>" method="post" data-url="<?php echo $block->getProductUrl($_item);?>">
                                        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */
                                        echo $_item->getEntityId(); ?>">
                                        <input type="hidden" name="<?php /* @escapeNotVerified */
                                        echo Action::PARAM_NAME_URL_ENCODED; ?>"
                                               value="<?php /* @escapeNotVerified */
                                               echo $urlHelper->getEncodedUrl($url) ?>">
                                        <?php echo $block->getBlockHtml('formkey') ?>
                                        <button type="submit"
                                                title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                class="action tocart primary">
                                            <?php /* @escapeNotVerified */
                                            echo __('Add to Cart');
                                            ?>
                                        </button>
                                    </form>
                                <?php else: ?>
                                    <?php if ($_item->getIsSalable()): ?>
                                        <div class="stock available"><span><?php /* @escapeNotVerified */
                                                echo __('In stock') ?></span></div>
                                    <?php else: ?>
                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */
                                                echo __('Out of stock') ?></span></div>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </div>
                        </div>
                        <!-- New Label -->
                        <?php
                        $isNew = $this->checkProductIsNew($_item);
                        ?>
                        <?php if ($isNew): ?>
                            <div class="sow-label new-label"><?php echo __('new'); ?></div>
                        <?php endif; ?>
                        <!--  Sale Label -->
                        <?php
                        $isSale = $this->checkProductIsSale($_item);
                        ?>
                        <?php if ($isSale): ?>
                            <div class="sow-label sale-label"><?php echo __('sale'); ?></div>
                        <?php endif; ?>
                        <!-- Show count down -->
                        <?php
                        $countDown = $this->checkCountDownTimer($_item);
                        ?>
                        <?php if ($countDown['isCountDown']): ?>
                            <div class="count-down" data-time="<?php echo $countDown['time'] ?>"></div>
                        <?php endif ?>
                    </div> <!-- end Sow item-->
                    <?php
                    $i++;
                    if ($i % $y == 0 || $i == count($items)):
                        ?>
                        </div>
                    <?php endif; ?>
                <?php endforeach ?>
            </div>
        </div>
    </div>
<?php endif; ?>


<?php if (!$block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
        {
            "[data-role=tocart-form]": {
                    "sowaddtocart": {
                }
            }
        }

    </script>
<?php endif; ?>
<script type="text/x-magento-init">
{
    ".quickview": {
            "quickview": {

        }
    }
}


</script>