<header id="header">
    <?php
    $customerLink = $this->getChildHtml("top.links");
    $store_language = $this->getChildHtml("store_language");
    $currency = $this->getChildHtml("currency");
    ?>
    <!--    PANEL HEADER       -->
    <nav class="panel-header">
        <div class="sow-container">
            <div class="sow-panel">
                <a href="javascript:void(0)" class="action show"><i class="fa fa-gears"></i></a>
                <!-- Customer Link -->
                <div class="sow-panel-content">
                    <?php if ($customerLink != ''):?>
                        <div class="customer-link title" data-role="collapsible">
                            <a href="javascript:void(0)" class="action customer" data-role="trigger"><i class="fa fa-user"></i></a>
                        </div>
                        <div class="item-content first" data-role="content">
                            <?php echo $this->getChildHtml("top.links"); ?>
                        </div>
                    <?php endif; ?>
                    <!-- Store Language -->
                    <?php if ($store_language != ''):?>
                        <div class="store-language title" data-role="collapsible">
                            <a href="javascript:void(0)" class="action language" data-role="trigger"><i class="fa fa-language"></i></a>
                        </div>
                        <div class="item-content<?php if ($customerLink == ''){ echo " first";}?>" data-role="content">
                            <?php echo $this->getChildHtml("store_language"); ?>
                        </div>
                    <?php endif; ?>
                    <!-- Currency -->
                    <?php if($currency != ''): ?>
                        <div class="currency title" data-role="collapsible">
                            <a href="javascript:void(0)" class="action currency" data-role="trigger"><i class="fa fa-money"></i></a>
                        </div>
                        <div class="item-content <?php if ($customerLink == '' && $store_language == ''){ echo " first";}?>" data-role="content">
                            <?php echo $currency; ?>
                        </div>
                    <?php endif ?>
                </div>
            </div>
        </div>
    </nav>
    <!--    END PANEL HEADER       -->
    <div class="header-content">
       <div class="sow-container">

               <div class="header-logo">
                   <?php echo $this->getChildHtml("logo"); ?>
               </div>
               <?php echo $this->getChildHtml("minicart"); ?>
               <?php echo $this->getChildHtml("top.search"); ?>
                <?php echo $this->getChildHtml("navigation.sections"); ?>

       </div>
    </div>

</header>
<script>
    require([
        'jquery',
        'accordion'], function ($) {
        $(".sow-panel").accordion();
        $(".sow-panel .action.show").click(function () {
            var panel =$(this).parent();
            if(panel.hasClass('active')){
                panel.removeClass('active')
            }else{
                panel.addClass('active');
            }
        });
    });
</script>