<div class="res_main">
    <div class="product-info">
        <div class="product-image">
            <?php echo $block->getProductImage('sow_popup_add_to_cart')->toHtml(); ?>
        </div>
        <div class="content">
            <div class="name"><strong><?php echo $block->getProductName();?></strong></div>
            <div class="price"><strong><?php echo $block->getPrice();?></strong></div>
            <div class="message"><i class="fa fa-check"></i><?php echo __('Added!');?></div>
        </div>
    </div>
    <div class="actions">
        <div><a href="<?= $this->getUrl('checkout/cart', ['_secure' => true]);?>" class="view-cart"><?= __('View Cart');?></a></div>
       <div><a href="<?= $this->getUrl('checkout', ['_secure' => true]);?>" class="checkout"><?= __('Checkout');?></a></div>
    </div>
</div>